about-time==4.2.1
alive-progress==3.2.0
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
asyncpg==0.29.0
attrs==25.3.0
autograd==1.7.0
babel==2.17.0
backrefs==5.8
bayesian-optimization==1.4.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
bleach==6.2.0
bracex==2.5.post1
build==1.2.2.post1
CacheControl==0.14.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
clarabel==0.10.0
cleo==2.1.0
click==8.1.8
cloudpickle==3.1.1
cma==4.0.0
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
coverage==7.8.0
crashtest==0.4.1
cryptography==44.0.2
cssbeautifier==1.15.4
cvxpy==1.6.5
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
-e git+https://github.com/industrial-optimization-group/DESDEO@ba7c4f5d925699c7e7b40faf69d01f41040f72d4#egg=desdeo&subdirectory=../../DESDEO
dill==0.4.0
directsearch==1.0
distlib==0.4.0
djlint==1.36.4
dulwich==0.22.8
ecdsa==0.19.1
EditorConfig==0.17.0
execnet==2.1.1
executing==2.2.0
fastapi==0.106.0
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
fonttools==4.57.0
fqdn==1.5.1
geopandas==1.1.0
ghp-import==2.1.0
grapheme==0.6.0
greenlet==3.2.1
griffe==1.7.3
gurobipy==11.0.3
h11==0.14.0
hjson==3.1.0
httpcore==1.0.8
httptools==0.6.4
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
installer==0.7.0
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isoduration==20.11.0
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.4.2
jsbeautifier==1.15.4
json5==0.12.0
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
jupytext==1.17.0
keyring==25.6.0
kiwisolver==1.4.8
llvmlite==0.44.0
lukefi.metsi @ file:///home/vili/Work/UTOPIA/metsi
lupa==2.5
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.1.3
mkdocs==1.6.1
mkdocs-autorefs==1.4.1
mkdocs-get-deps==0.2.0
mkdocs-include-markdown-plugin==6.2.2
mkdocs-jupyter==0.25.1
mkdocs-macros-plugin==1.3.7
mkdocs-material==9.6.12
mkdocs-material-extensions==1.3.1
mkdocstrings==0.29.1
mkdocstrings-python==1.16.10
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
mypy==1.15.0
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nevergrad==1.0.12
notebook==7.4.1
notebook_shim==0.2.4
numba==0.61.2
numpy==2.0.2
osqp==1.0.3
overrides==7.7.0
packaging==25.0
paginate==0.5.7
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pbs-installer==2025.7.12
pexpect==4.9.0
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==4.3.7
plotly==5.24.1
pluggy==1.5.0
ply==3.11
poetry==2.1.3
poetry-core==2.1.3
polars==1.27.1
prometheus_client==0.21.1
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.4.8
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
Pygments==2.19.1
pymdown-extensions==10.14.3
pymoo @ git+https://github.com/anyoptimization/pymoo@dc035033cf5fe22b30d7df56bbb87a84b75c3b89
pyogrio==0.11.0
pyomo==6.9.2
pyparsing==3.2.3
pyproj==3.7.1
pyproject_hooks==1.2.0
PySCIPOpt==5.4.1
pytest==8.3.5
pytest-asyncio==0.24.0
pytest-testmon==2.1.3
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
python-json-logger==3.3.0
python-markdown-math==0.8
python-multipart==0.0.9
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==26.4.0
railroad-diagrams==3.0.1
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.24.0
rpy2==3.6.1
rpy2-rinterface==3.6.1
rpy2-robjects==3.6.1
rsa==4.9.1
ruff==0.6.9
SciencePlots==2.1.1
scikit-learn==1.6.1
scipy==1.15.2
scs==3.2.7.post2
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash==1.8.3
setuptools==79.0.1
shap==0.47.2
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
snakeviz==2.2.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.40
SQLAlchemy-Utils==0.41.2
stack-data==0.6.3
starlette==0.27.0
super_collections==0.5.3
sympy==1.13.3
tenacity==9.1.2
termcolor==3.0.1
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomlkit==0.13.3
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2025.5.9.12
tsp_solver==0.1
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==4.3.1
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.25.0
uvloop==0.21.0
virtualenv==20.32.0
watchdog==6.0.0
watchfiles==1.0.5
wcmatch==10.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
widgetsnbextension==4.0.14
wrapt==1.17.2
zstandard==0.23.0
